body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
header {
    background-color: #043477;
    color: white;
    padding: 20px;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #043477;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

